<% stylesheet	('/'+plugin.name+'/www/less/portlet.css'); %>
<% script		('/'+plugin.name+'/www/js/portlet.js'); %> 

<div class="row">
    <h4 class="col-xs-6">Socket.io</h4>
</div>
<div class="row">
    <div class="col-xs-11 col-xs-push-1" id="socket">Not Connected</div>
</div>
<div class="row">
    <h4 class="col-xs-6">MQTT</h4>
</div>
<div class="row">
    <div class="col-xs-11 col-xs-push-1" id="mqtt">Not Connected</div>
</div>